
/* 
http://www.w3schools.com/cssref/sel_link.asp
http://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_link_more2 
http://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced*/
a.myLink:link, a.myLink:visited, a.myLink.hover, a.myLink:active {
    color: black;
    text-decoration: none;
}


/* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
  display: none;
}
